.title {
  height: 30px;
  background: var(--light-500);
  user-select: none;
  &.outline {
    border: 1px solid var(--accent-green);
  }
  border-radius: 2px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px;
  .text {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    color: var(--color);
  }
  .logo {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}
